<html>
  <head><h1><font color="black"> Address Book </font></h1></head>
  <body BGCOLOR="cc9933">
    <p><font color="black"> Create new password for {{ contact }}</font></p>
    <p> {% if errormsg %} {{ errormsg }} {% endif %} </p>
    
    <form method="post" action=/temp/pwd/ >
      {% csrf_token %}
      <ul>
          <lable name=username><font color="blue"><b> Username </b></font> </lable>
          <input type="text" name='username' value={{ contact}} >
        
      </ul>
      
      <ul>
          <lable name=oldpassword><font color="blue"><b> Old password </b></font> </lable>
          <input type="text" name='oldpassword' placeholder="old password" required>
        
      </ul>
      
      <ul>
          <lable name=password><font color="blue"><b> New password </b></font> </lable>
          <input type="text" name='newpassword' placeholder="new password" required>
        
      </ul>
      
      <input type="submit" value="Submit" />
      
    </form>

    <ul>
      <li>
            <a href='/temp'><font color="black"> Home </font></a>
      </li>
    </ul>
    
  </body>
</html>
